

.card{
    padding: 24px;
    &.primary{
        background: #fef7ff;
        border: 1px solid #cac4d0;
        border-radius: 12px;

    }

    &.secundary{
        background: rgb(214, 212, 212);
        border-radius: 16px;
    }
}